.c-accordion {
  padding-bottom: rem(16);

  &__tab {
    text-align: center;
    padding: rem(12) 0;
    margin-bottom: rem(8);
    border-radius: 6px;
    font-family: fot-tsukuardgothic-std, sans-serif;
    position: relative;


    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }

    &::after {
      position: absolute;
      content: '';
      width: 9px;
      height: 9px;
      border-bottom: 2px solid #fff;
      border-right: 2px solid #fff;
      transform: rotate(45deg);
      top: 40%;
      right: 15px;
      transition: 0.2s ease;
    }

    &.on::after {
      transform: rotate(-135deg);
      top: 42%;
    }

    &Access {
      background-color: var(--color-heading);
      color: var(--color-white);
      font-size: rem(14);
      padding-right: rem(30);
      font-weight: bold;
      box-shadow: 3px 6px 15px -7px #b5b5b5;
      transition: 0.2s ease;

      &.on {
        box-shadow: none;
        transition: 0.2s ease;
      }
    }
  }

  &__contents {
    margin: 0 auto;
    width: 95%;
    
    img {
      display: block;
      margin: 0 auto rem(8)
    }
  }

  &__contentsInner {
    padding: rem(16);

    @include mq('pc') {
      padding: rem(16) rem(24);
    }
  }
}

.c-accordion[data-type="questions"] {

  padding-bottom: rem(24);

  &:first-of-type {
    padding-top: rem(26);

    @include mq('pc') {
      padding-top: rem(40);
    }
  }
  
  & > .c-accordion__tab {
    background-color: #A5DDDB;
    color: #1A1A1A;
    box-shadow: none;
    text-align: left;
    padding-left: rem(16);
    font-size: rem(14);
    font-family: "Noto Sans JP", "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", sans-serif;
    font-weight: normal;
    margin-bottom: 0;

    @include mq('pc') {
      font-size: rem(16);
      padding-left: rem(24);
    }

    &:after {
      border-bottom: 2px solid #1A1A1A;
      border-right: 2px solid #1A1A1A;
    }

    &.on {
      border-radius: 6px 6px 0 0;
    }
  }

  & > .c-accordion__contents {
    border: 2px solid #A5DDDB;
    border-top: none;
    width: 100%;
    background-color: var(--color-white);
  }


}