.c-buttonCTAWrap {
    display: flex;

    &.-forPC {
        display: none;

        @include mq('pc') {
            display: flex;
        }
    }
    
}
.c-buttonCTA {

    a {
        position: relative;
        font-family: fot-tsukuardgothic-std, sans-serif;
        font-weight: bold;
        color: var(--color-white);
        padding: rem(16) 0;
        text-align: center;
        border-radius: 16px;
        display: inline-block;
        min-width: 130px;
        box-shadow: 3px 6px 15px -7px #b5b5b5;
        transition: 0.3s ease;
        padding-left: rem(16);

        &:hover {
            transform: translateY(2px);
            transition: 0.3s ease;
            opacity: 0.8;
        }

        @include mq('pc') {
            min-width: 160px;
        }
    }

    &__narrow a {
        min-width: 130px;
    }

    &__phone a {
        background-color: var(--color-phone);
        margin-right: rem(6);

        &:before {
            content: '';
            position: absolute;
            // background-image: url(../img/call.svg);
            z-index: 10;
            background-image: url('@image/call.svg');
            top: 50%;
            transform: translateY(-50%);
            left: 10px;
            width: 25px;
            height: 25px;
            background-size: contain;
            background-repeat: no-repeat;
        }
    }

    &__mail a {
        background-color: var(--color-reserve);
        padding-left: rem(20);
        margin-left: rem(6);

        &:before {
            content: '';
            position: absolute;
            // background-image: url(../img/call.svg);
            z-index: 10;
            background-image: url('@image/email.svg');
            top: 50%;
            transform: translateY(-50%);
            left: 5px;
            width: 27px;
            height: 30px;
            background-size: contain;
            background-repeat: no-repeat;
        }

    }

    &__footer a {
        @include mq('pc') {
            min-width: 130px;
        }
    }

    &__header a {
        @include mq('pc') {
            min-width: 130px;
        }
    }


}

.c-buttonOrdinary {

    a{
        text-align: center;
        font-size: rem(14);
        color: var(--color-white);
        font-family: fot-tsukuardgothic-std, sans-serif;
        padding: rem(8);
        width: 65%;
        max-width: 300px;
        display: block;
        background-color: var(--color-key);
        border-radius: 6px;
        margin: 0 auto;
        font-weight: bold;
        box-shadow: 3px 6px 15px -7px #b5b5b5;


        &:hover {
            transform: translateY(2px);
            transition: 0.3s ease;
            opacity: 0.8;
        }
    }

}

.c-buttonOrdinary[data-type="downtime"] {

    a {
        position: relative;
        color: #1a1a1a;
        background-color: #C8EAE8;
        width: 80%;

        &:after {
            border-bottom: 2px solid #1a1a1a;
            border-right: 2px solid #1a1a1a;
            content: "";
            height: 9px;
            position: absolute;
            right: 15px;
            top: 40%;
            transform: rotate(-45deg);
            transition: 0.2s ease;
            width: 9px;
        }
    }
}

.c-buttonSquare {
    background-color: var(--color-white);
    max-width: 100%;
    padding: rem(8);
    border-radius: 6px;
    color: var(--color-key);
    font-weight: bold;
    font-family: $mainFont;
    border: 2px solid var(--color-key);
    box-shadow: 3px 6px 15px -7px #b5b5b5;
    transition: 0.3s ease;

    &:hover {
        transform: translateY(2px);
        transition: 0.3s ease;
        opacity: 0.8;
    }

    @include mq('pc') {
        width: 200px;
        margin: 0 auto;
    }

    a {
        width: 100%;
        height: 100%;
        text-align: center;
    }
}
