.c-beforeAfter {
  display: flex;
  align-items: center;
  justify-content: center;
  @include mq('pc') {
    height: 170px;
  }

  &__before {
    padding-right: rem(8);
  }
  &__after {
    padding-left: rem(8);
  }

  figure img {
    vertical-align: bottom;
  }
  

  figcaption {
    text-align: center;
    padding: rem(4) 0;
    background-color: var(--color-white);
    font-family: $mainFont;
    color: var(--color-fontGray);
    font-weight: bold;
  }
}