.c-case {
  &__box {
    border: 2px solid #FFD696;
    margin-top: rem(64);
  }

  &__title {
    text-align: center;
    padding: rem(8) 0 rem(10);
    background-color: #FFD696;
    width: 80%;
    max-width: 270px;
    margin: 0 auto;
    font-size: rem(16);
    font-weight: bold;
    font-family: $mainFont;
    position: relative;
    top: -24px;

    @include mq('pc') {
      max-width: 290px;
    }
  }

  &__boxInner {
    padding: 0 rem(20);

    @include mq('pc') {
      padding: 0;
      width: 533px;
      margin: 0 auto;
      padding-top: rem(26);
    }
  }

  &__picture {
    flex-basis: 48%;
    background-color: #FFECC9;

    img {
      @include mq('pc') {
        width: 100%;
      }
    }

    figcaption {
      text-align: center;
      font-size: rem(12);
      color: #4D4D4E;
      font-weight: bold;
      padding-bottom: rem(4);

      @include mq('pc') {
        font-size: rem(16);
        padding-bottom: rem(4);
      }
    }
  }

  &__button {
    padding: rem(8) 0 rem(10);
    background-color: #EFEFEF;
    width: 80%;
    max-width: 270px;
    border-radius: 6px;
    text-align: center;
    font-size: rem(12);
    color: #1A1A1A;
    margin: rem(16) auto rem(8);
    position: relative;

    @include mq('pc') {
      font-size: rem(16);
      margin: rem(16) auto rem(14);
    }

    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }

    &:after {
      border-bottom: 2px solid #1A1A1A;
      border-right: 2px solid #1A1A1A;
      content: "";
      height: 9px;
      position: absolute;
      right: 25px;
      top: 35%;
      transform: rotate(45deg);
      transition: 0.2s ease;
      width: 9px;
    }

    &.on:after {
      top: 42%;
      transform: rotate(-135deg);
    }
  }

  &__table {
    padding-bottom: rem(16);
    dl {
      border: 2px solid #DDDDDD;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
    }

    dt {
      background: #F0F0F0;
      border-right: 2px solid #DDDDDD;
      box-sizing: border-box;
      font-weight: bold;
      width: 90px;
      padding: rem(10) rem(6);
      font-size: rem(12);
      text-align: center;

      @include mq('pc') {
        font-size: rem(16);
        width: 154px;
      }

      &:not(:first-of-type) {
        border-top: 2px solid #DDDDDD;
      }
    }

    dd {
      box-sizing: border-box;
      width: calc(100% - 90px);
      padding: rem(10) rem(6);
      font-size: 0.75rem;
      background-color: #fff;

      @include mq('pc') {
        font-size: rem(14);
        width: calc(100% - 154px);
      }

      &:not(:first-of-type) {
        border-top: 1px solid #cacaca;
      }
    }
  }

  &__bottom {
    padding-top: rem(16);
    padding-bottom: rem(40);

    @include mq('pc') {
      padding-top: rem(26);
      padding-bottom: rem(60);
    }
  }

  &__recommend {
    text-align: center;
    font-size: rem(14);
    font-weight: bold;

    @include mq('pc') {
      font-size: rem(16);
    }
  }

  &__list {
    border-top: 1px solid #1A1A1A;
    max-width: 70%;
    margin: 0 auto;

    &-WithoutBorder {
      border-top: none;
    }
  }

  &__listItem {
    font-size: rem(14);
    padding-top: rem(4);

    @include mq('pc') {
      font-size: rem(16);
    }
  }

  &__bottomButton {

    padding-top: rem(30);

    @include mq('pc') {
      padding-top: rem(40);
    }
    
    a {
      display: block;
      max-width: 246px;
      margin: 0 auto;
      background-color: #FFECC9;
      text-align: center;
      padding: rem(10) 0;
      font-size: rem(14);
      font-family: $mainFont;
      border-radius: 6px;
      font-weight: bold;
      position: relative;

      @include mq('pc') {
        font-size: rem(16);
        max-width: 337px;
      }

      &:after {
        border-bottom: 2px solid #1A1A1A;
        border-right: 2px solid #1A1A1A;
        content: "";
        height: 9px;
        position: absolute;
        right: 25px;
        top: 40%;
        transform: rotate(-45deg);
        transition: 0.2s ease;
        width: 9px;
      }

      &:hover:after {
        right: 22px;
      }
    }
  }

  &__archiveButton {

    padding-top: rem(40);
    padding-bottom: rem(60);

    @include mq('pc') {
      padding-top: rem(60);
      padding-bottom: rem(80);
    }

    a {
      background-color: #FFD696;
      max-width: 100%;
  
      @include mq('pc') {
        max-width: rem(712);
      }
  
    }
  }

  &__photos {

    @include mq('pc') {
      flex-basis: 50%;
      padding-bottom: rem(40);
    }

    &:not(:first-of-type) {
      @include mq('sp') {
        padding-top: rem(16);
      }
    }

    &:nth-of-type(odd) {
      @include mq('pc') {
        padding-right: rem(16);
      }
    }
    &:nth-of-type(even) {
      @include mq('pc') {
        padding-left: rem(16);
      }
    }


  }

  &__photosTitle {
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 1px;
    padding-bottom: rem(8);
    font-size: rem(16);

    @include mq('pc') {
      text-align: left;
    }
  }

  &__card {
    background-color: var(--color-white);
    margin-top: rem(24);
    padding: rem(40) rem(20);
    transition: 0.5s ease;
    min-height: auto;

    @include mq('pc') {
      flex-basis: 45%;
      padding: rem(20) rem(20) rem(20);
      margin-bottom: rem(40);
    }

    // &:nth-of-type(odd) {
    //   margin-right: 5%;
    // }

    &:not(.on) {
      @include mq('pc') {
        max-height: 340px;
      }
    }
  }

  &__tag {
    padding: rem(16) rem(0);

    span {
      display: inline-block;
      padding: rem(4) rem(12);
      background-color: #FFECC9;
      border-radius: 6px;
    }
  }
}

.c-case__card[data-style="hip"] {
  @include mq('pc') {
    padding-top: 0;
  }
  &:not(.on) {
    @include mq('pc') {
      max-height: 430px;
    }
  }
}

.c-case__card .swiper-container {
  width: 95%;
  padding-top: rem(16);
  @include mq('pc') {
    width: auto;
  }
}

.c-case__card[data-style="arm"] .swiper-container img {
  height: 160px;
  object-fit: cover;
}

.c-case__boxInner[data-style="photo"] {
  @include mq('pc') {
    width: 840px;
  }
}