.c-DrProfile {
  background-color: var(--color-white);
  padding: rem(40) rem(20);
  margin-top: rem(60);
  border: 1px solid #A5DDDB;


  &__img {
    text-align: center;
  }

  &__name {
    font-size: rem(14);
    font-weight: normal;
    text-align: center;
    padding-top: rem(40);

    span {
      font-size: rem(24);
      background:linear-gradient(transparent 80%, #DCF5F5 80%);
    }
  }

  &__body {
    padding-top: rem(40);
  }

  &__career {
    padding-top: rem(40);
  }
  &__conference {
    text-align: center;
    font-weight: bold;
    font-family: $mainFont;
    color: var(--color-gray);
    position: relative;
    z-index: 10;

    span {
      display: inline-block;
      font-size: rem(18);
      padding: 0 rem(4);
      background-color: var(--color-white);
    }
  }

  &__list {
    border: 1px solid #E2E2E2;
    border-radius: 6px;
    padding: rem(24);
    position: relative;
    top: -16px;

    &-item {
      text-align: center;
      font-size: rem(14);

      &.-lowerstyle {
        text-align: left;
      }

      span {
        min-width: 70px;
        display: inline-block;
      }
    }

    &.-lowerstyle {
      text-align: left;
      padding: rem(24) rem(8);

      @include mq('pc') {
        padding: rem(24);
      }
    }
  }

  &__listText {
    font-size: rem(14);

    & + & {
      padding-top: rem(16);
    }
  }

  &__instagram {
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: right;

    img {
      display: inline-block;
      padding-right: rem(4);
    }

    span:hover {
      text-decoration: underline;
      opacity: 0.8;
    }
  }

  &__left {
    @include mq('pc') {
      flex-basis: 30%;
    }
  }
  &__right {
    @include mq('pc') {
      flex-basis: 70%;
      padding: 0 rem(64);
    }
  }

  &__bnr {
    display: block;
    padding-top: rem(16);
    margin: 0 auto;

    @include mq('pc') {
      width: 70%;
    }
  }
}