.c-heading {
  text-align: center;

  &__en {
    font-size: rem(40);
    font-weight: 300;
    color: var(--color-heading);
  }
  &__jp {
    font-size: rem(14);
    font-family: fot-tsukuardgothic-std, sans-serif;
    color: #4D4D4E;
  }
}

.c-heading__reasons {

  @include mq('pc') {
    padding-top: rem(100);
    text-align: center;
  }

  &Jp {
    font-size: rem(28);
    color: #C3B173;
    text-align: center;
    font-family: $mainFont;
    position: relative;
    top: -40px;
    font-weight: 500;

    @include mq('pc') {
      font-size: rem(30);
    }
  }
  &En {
    font-size: rem(60);
    color: #C3B173;
    opacity: 0.2;
    font-weight: 300;

    @include mq('pc') {
      font-size: rem(66);
    }
  }
}

.c-heading__rumor {
  text-align: center;
  padding-top: rem(32);
  padding-bottom: rem(55);
  position: relative;
  right: -20px;

  @include mq('pc') {
    padding-top: rem(100);
  }
}

.c-heading__point {
  font-size: rem(16);
  padding-left: rem(24);
  position: relative;
  margin-bottom: rem(8);

  &:before {
    content: '';
    border-radius: 5000px;
    position: absolute;
    background-color: #F7D093;
    width: 16px;
    height: 16px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  &[data-type="sitemap"] {
    @include mq('sp') {
      font-size: rem(12);
      padding-left: rem(14);
    }
  }

  &[data-type="sitemap"]:before {
    background-color: #A5DDDB;
    width: 12px;
    height: 12px;
  }

  &[data-type="price"] {
    font-family: $mainFont;
    font-weight: bold;

    @include mq('pc') {
      font-size: rem(18);
    }
  }

  &[data-type="price"]:before {
    background-color: #F793A5;
  }

  &[data-type="keycolor"]{
    font-family: $mainFont;
  }

  &[data-type="keycolor"]:before {
    background-color: var(--color-key);
  }


  &[data-type="sitemap_line"] {
    @include mq('sp') {
      font-size: rem(12);
      padding-left: rem(14);
      font-weight: bold;
    }
  }

  &[data-type="sitemap_line"]:before {
    background-color: #A5DDDB;
    width: 3px;
    height: 14px;
    border-radius: 0;
    left: 8px;
  }

  &[data-type="price_line"] {
    @include mq('sp') {
      font-size: rem(16);
      padding-left: rem(14);
      font-weight: bold;
      font-family: $mainFont;
    }
  }

  &[data-type="price_line"]:before {
    background-color: #F793A5;
    width: 3px;
    height: 14px;
    border-radius: 0;
    left: 8px;
  }
}

.c-heading__Lower {
  font-size: rem(18);
  font-family: $mainFont;

  @include mq('pc') {
    font-size: rem(20);
  }
}

.c-heading__diagnosis {
  font-size: rem(12);
  position: relative;
  font-family: $mainFont;
  color: #4D4D4E;

  @include mq('pc') {
    font-size: rem(16);
  }

  &:before {
    font-size: rem(24);
    position: absolute;
    content: attr(data-entitle);
    text-transform: uppercase;
    display: block;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    top: -28px;
    color: #1A1A1A;

    @include mq('pc') {
      font-size: rem(30);
      top: -46px;
    }
  }
}