.c-sentence {
  font-size: rem(14);
  color: var(--color-font);

  @include mq('pc') {
    font-size: rem(16);
    letter-spacing: -0.025em;
    line-height: rem(32);
  }

  & + & {
    padding-top: rem(12);
  }
}

.c-sentence__sm {
  font-size: rem(12);
  color: var(--color-font);

  @include mq('pc') {
    font-size: rem(16);
    letter-spacing: -0.025em;
    line-height: rem(32);
  }
}

.c-sentence__wideSpacing {
  line-height: rem(28);
  
  @include mq('pc') {
    line-height: rem(44);
  }
}