
.u-uppercase {
    text-transform: uppercase;
}
.u-strong {
    font-weight: bold;
}
.u-fontGothic {
    font-family: $mainFont;
}
.u-uppercase {
    text-transform: uppercase;
    }

.u-lowercase {
    text-transform: lowercase;
}

.u-textCenter {
    text-align: center;
}

.u-centerposition {
    display: flex;
    justify-content: center;
    align-items: center;
}

.u-visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    border: 0;
    white-space: nowrap;
    clip-path: inset(50%);
}

.u-spNone {
    display: none;
    @include mq('pc') {
        display: block;
    }
}
.u-pcNone {
    display: block;
    @include mq('pc') {
        display: none;
    }
}
.u-spNone.u-spNoneimportant {
    display: none;
    @include mq('pc') {
        display: block;
    }
}

.u-bgMainColor {
    background-color: var(--color-main);
}
.u-bgAccentColor {
    background-color: #FDE9ED;
}
.u-bgCreamColor {
    background-color: #FDF6E9;
}
.u-bgPinkColor {
    background-color: #FDE9ED;
}
.u-bgBeigeColor {
    background-color: #FDF6E9;
}
.u-bgPinkColor {
    background-color: #FDE9ED;
}
.u-bgGrayColor {
    background-color: #F8F8F8;
}
.u-bgNaviColor {
    background-color: #C8EAE8;
}
.u-bgWhiteColor {
    background-color: #FFFFFF;
}
.u-CircleOuter {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 120px;
}
.u-accentColor {
    color: #3EA49F;
}
.u-grayColor {
    color: #6b6b6b;
}
.u-bold {
    font-weight: bold;
}
.u-expantion {
    font-size: 1.125em;
}
.u-bgCircle {
    position: absolute;
    content: '';
    z-index: 0;
    // background-color:#FDE9ED;
    width: 1000px;
    z-index: -1;
    height: 1000px;
    left: -350px;
    top: 30px;
    border-radius: 5000px;
}
.u-bgCircleBottom {
    bottom: 20px;
    top: inherit;
}
.u-bgCircleReverse {
    left: -230px;
}
.u-blueCrayon {
    background: linear-gradient(transparent 80%, #DCF5F5 80%);
}
.u-narrow {
    width: 80%;
}
.u-narrowPC {
    @include mq('pc') {
        width: 80%;
    }
}
.u-narrowSP {
    @include mq('sp') {
        width: 80%;
    }
}

.u-marginAuto {
    margin: 0 auto;
}
.u-block {
    display: block;
}
.u-textLink {
    color: #1C74BF;
    text-decoration: underline;

    &:hover {
        opacity: 0.8;
    }
}
.u-underline {
    text-decoration: underline;
}

.u-spacer__s {
    height: rem(16);
}
.u-spacer__m {
    height: rem(32);
}
.u-spacer__l {
    height: rem(64);
}

.u-min {
    font-family: "YakuHanJP", "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", "メイリオ", "Meiryo", serif;
}

.u-blank {
    padding-right: rem(16);
    background-image: url('@image/icn_blank_gray.png');
    background-repeat: no-repeat;
    background-position: right 2px center;
    background-size: 12px;
}

.u-indent {
	padding-left:1em;
	text-indent:-1em;
}

.u-mainFont {
    font-family: $mainFont;
}