.p-accessPoint {

    &__inner {
        background-color: var(--color-white);
        padding: rem(40) rem(20);
    }

    &__sectionTitle {
        background-color: #F4F4F4;
        font-size: rem(18);
        font-family: $mainFont;
        text-align: center;
        padding: rem(6) 0;
    }

    &__section {
        padding-bottom: rem(60);
    }

    &__lead {
        text-align: center;
        font-weight: bold;
        font-size: rem(16);
        padding-top: rem(24);

        @include mq('pc') {
            font-size: rem(18);
        }
    }
    &__sentence {
        padding-top: rem(24);

        @include mq('pc') {
            padding: rem(24) rem(70) rem(0);
        }
    }

    &__ctaText {
        text-align: center;
        font-weight: 600;
        padding-bottom: rem(38);
        padding-top: rem(40);

        @include mq('pc') {
            padding-top: 0;
            padding-bottom: rem(16);
        }
    }

    &__bottom {
        @include mq('pc') {
            padding-right: rem(40);
        }
    }

    &__steps {
        padding-top: rem(40);

        figure {
            position: relative;

            &:before {
                position: absolute;
                content: '';
                z-index: 1;
                width: 38px;
                height: 38px;
                background-color: #F8E1B4;
                top: 0;
                left: 0;
                border-radius: 5000px;

                @include mq('pc') {
                    top: 5px;
                    left: 25px;
                }
            }

            &:after {
                position: absolute;
                content: counter(accessNum);
                counter-increment: accessNum;
                z-index: 2;
                font-size: rem(16);
                display: inline-block;
                text-align: center;
                top: 0;
                line-height: 34px;
                width: 38px;

                @include mq('pc') {
                    top: 5px;
                    left: 25px;
                }
            }
        }

        img {
            width: 60%;
            margin: 0 auto;
            display: block;

            @include mq('pc') {
                width: 346px;
                margin: 0;
                padding-left: rem(16);
            }
        }

        figcaption {
            padding-top: rem(12);

            @include mq('pc') {
                width: 50%;
                margin: 0 auto;
                display: block;
            }
        }
    }
}