.p-access {
  &__map {
    @include mq('pc') {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: rem(100);
    }

    &-map {
      text-align: center;


      @include mq('pc') {
        padding-left: rem(36);
      }


      iframe {
        width: 250px;
        height: 250px;

        @include mq('pc') {
          width: 465px;
          height: 220px;
        }

      }
    }
  }

  &__address {
    text-align: center;

    @include mq('pc') {
      padding-right: rem(36);
      text-align: left;
    }

    &-title {
      font-size: rem(18);
      font-weight: bold;
      padding-top: rem(36);
      @include mq('pc') {
        padding-top: 0;
      }

    }
    &-text {
      padding-top: rem(36);
    }
  }

  &__card {
    background-color: var(--color-white);
    border-radius: rem(16);
    padding: rem(24) rem(30);
    margin-bottom: rem(30);

    &-body {

      @include mq('pc') {
        padding-left: rem(8);
      }

      span {
        display: block;
        text-align: center;
        font-size: rem(40);
        padding-top: rem(32);
      }

      p {
        padding-top: rem(24);
      }
    }
  }

  &__sectionTitle {
    text-align: center;
    background-color: var(--color-main);
    font-size: rem(16);
    padding: rem(6) 0;

    @include mq('pc') {
      font-size: rem(20);
      padding: rem(10) 0;
    }
  }

  &__table {
    margin-top: rem(24);
    font-size: rem(14);
    border: 1px solid #E2E2E2;
    border-collapse: collapse;
    width: 100%;

    @include mq('pc') {
      max-width: 830px;
      margin: rem(20) auto 0;
      font-size: rem(16);
    }

    tr {
      border-bottom: 1px solid #E2E2E2;
    }

    td {
      padding: rem(8) 0;

      @include mq('pc') {
        padding: rem(12) 0;
      }
    }

    td span {
      min-width: 100px;
      padding: rem(0) rem(16);

      @include mq('pc') {
        min-width: 185px;
      }
    }
  }

  &__tableLeft {
    background-color: #E2E2E2;
    width: 105px;
    text-align: center;

    @include mq('pc') {
      min-width: 185px;
    }
  }
}