.p-breadcrumb {

    &__list {
        display: flex;
        list-style-type: none;

        li {
            font-size: rem(12);
            color: var(--color-white);
            position: relative;
            padding-right: rem(16);

            @include mq('pc') {
                color: var(--color-font);
                font-size: rem(14);
                padding-right: rem(32);
            }

            &:after {
                position: absolute;
                content: '>';
                padding-left: rem(6);
                // padding: rem(0) rem(6);

                @include mq('pc') {
                    padding-left: rem(12);
                }
            }

            &:last-child {
                &:after {
                    content: none;
                }
            }
        }
    }
    
}