.p-footer {
  color: var(--color-font);

  &__flex {
    @include mq('pc') {
      display: flex;
      width: 95%;
      margin: 0 auto;
    }
  }


  &__icons {
    padding-top: rem(36);
    max-width: 95%;
    margin: 0 auto;

    @include mq('pc'){
      width: 160px;
    }

    ul {
      display: flex;
      justify-content: center;

      @include mq('pc') {
        align-items: center;
        flex-wrap: wrap;
      }
    }

    li {
      padding-right: rem(24);

      @include mq('pc'){
        padding-right: 0;
        flex-basis: 50%;
        text-align: center;
        padding-bottom: rem(16);
      }

      &:last-child {
        padding-right: 0;
      }

    }

  }

  &__button {
    margin: 0 auto;
    padding-top: rem(36);
    text-align: center;

    @include mq('pc') {
      padding-top: rem(16);
    }

    a {
      display: inline-block;
      text-align: center;
      font-size: rem(18);
      padding: rem(16) rem(24);
      border-radius: 5000px;
      background-color: var(--color-white);
      font-weight: bold;
      box-shadow: 3px 6px 15px -7px #b5b5b5;
      transition: 0.3s ease;

      &:hover {
        box-shadow: none;
        transition: 0.3s ease;
        transform: translateY(2px);
      }
    }
  }

  &__body {
    background-color: var(--color-key);
    padding-bottom: rem(36);
  }
  &__bnr {
    width: 95%;
    margin: 0 auto;
    padding-top: rem(28);

    @include mq('pc') {
      flex-basis: 50%;
      // padding: 0 rem(16) 0 0;
    }
  }

  &__copyright {
    font-size: rem(12);
    text-align:center;
    padding: rem(16);
  }

  &__bottom {
    background-color: var(--color-main);
  }

  &__list {
    display: flex;
    flex-wrap: wrap;

    @include mq('pc') {
      width: 95%;
      margin: 0 auto;
    }

    &-item {
      flex-basis: 50%;
      padding-left: rem(16);
      border-bottom: 1px solid #cccccc;

      &:nth-child(11),
      &:nth-child(12) {
        border-bottom: none;
      }

      @include mq('pc') {
        border-bottom: none;
        flex-basis: calc((100% - 42% ) / 4);
        padding-left: 0;
      }

      @include mq('pc') {
        &:nth-child(5),
        &:nth-child(6),
        &:nth-child(11),
        &:nth-child(12) {
          flex-basis: calc(21%);
        }
      }



      a {
        display: block;
        padding: rem(16) 0;
        font-size: rem(12);
        position: relative;
        
        span {
          transition: 0.3s ease-in-out;
          display: inline-block;
          position: relative;

          &:hover {

            &::after {
              content: '';
              width: 100%;
              height: 1px;
              background-color: #707070;
              bottom: -5px;
              left: 0;
              position: absolute;
            }

          }
        }



        @include mq('pc') {
          font-size: rem(14);
          padding: rem(20) 0;
        }

        &::first-letter {
          margin-left: rem(-12);
        }
      }
    }
  }

  
  &__flexItem {
    @include mq('pc') {
      padding-top: rem(36);
    }
}

}

