.p-footer {
  color: var(--color-font);


  &__icons {
    padding-top: rem(36);
    max-width: 95%;
    margin: 0 auto;

    ul {
      display: flex;
      justify-content: center;
    }

    li {
      padding-right: rem(24);

      &:last-child {
        padding-right: 0;
      }

    }

  }

  &__button {
    margin: 0 auto;
    padding-top: rem(36);
    text-align: center;

    a {
      display: inline-block;
      text-align: center;
      font-size: rem(18);
      padding: rem(16) rem(24);
      border-radius: 5000px;
      background-color: var(--color-white);
      font-weight: bold;
      box-shadow: 3px 6px 15px -7px #b5b5b5;
      transition: 0.3s ease;

      &:hover {
        box-shadow: none;
        transition: 0.3s ease;
        transform: translateY(2px);
      }
    }
  }

  &__body {
    background-color: var(--color-key);
    padding-bottom: rem(36);
  }
  &__bnr {
    width: 95%;
    margin: 0 auto;
    padding-top: rem(36);
  }

  &__copyright {
    font-size: rem(12);
    text-align:center;
    padding: rem(16);
  }
}