.p-header {
    background-color: var(--color-white);
    border-bottom: 1px solid #fafafa;
    
    &__top {
        @include mq('pc') {
            padding-bottom: rem(16);
        }
    }
    &__logo {

        padding-left: rem(12);

        &-top {
            img {
                @include mq('sp') {
                    width: 70%;
                }
            }
            span {
                display: inline-block;
                padding-left: rem(6);
            }
        }
        &-text {
            font-size: rem(12);
            @include mq('sp') {
                font-size: rem(10);
            }
        }
    }

    &__bottom {
        border-top: 1px solid #B3B3B3;
        border-bottom: 1px solid #B3B3B3;
    }
    &__listItem {
        flex-basis: calc(100% / 7);

        a {
            display: block;
            font-family: $mainFont;
            text-align: center;
            padding: rem(12) 0;
            font-weight: bold;

            &:hover {
                color: #a69871 !important;
            }
        }
    }

    &__listItem.-diagnosis {
        position: relative;
    }

    &__listChild {
        position: absolute;
        background-color: var(--color-white);
        z-index: 10;
        
        content: '';
        top: 50px;
        li {
            height: 0;
            overflow: hidden;
            transition: .3s ease;
            width: 180px;

            a {
                // border-top: 1px solid #eee;
                display: block;
                padding: rem(6) rem(6);
                transition: .3s ease;
            }
        }
    }

    &__listItem:hover > .p-header__listChild {
        border: 1px solid #B3B3B3;
        border-top: none;
    }

    &__listItem:hover > .p-header__listChild li {
        height: 40px;
        overflow: visible;
        transition: .3s ease;
    }
}

.p-header {
    &__humbergerButton {
        position: relative;
        right: 12px;
        background:#A5DDDB;
        cursor: pointer;
        width: 44px;
        height:44px;
        border-radius: 5px;

        span {
            display: inline-block;
            transition: all .3s;
            position: absolute;
            left: 11px;
            height: 3px;
            border-radius: 2px;
            background: #fff;
            width: 50%;

            &:nth-of-type(1) {
                top: 12px;
            }
            &:nth-of-type(2) {
                top: 20px;
            }
            &:nth-of-type(3) {
                top: 28px;
            }
        }
    }

    &__humbergerInner {
        background-color: #A5DDDB;
        top: 0;
        left: 0;
        position:fixed;
        height: 100vh;
        overflow-y: scroll;
        z-index: 50;
    }
    &__humbergerNav {
        padding-top: rem(90);
        padding-bottom: rem(40);

        &-title {
            text-align: center;
            background-color: var(--color-white);
            font-family: $mainFont;
            border-radius: rem(6);
            font-size: rem(12);
            padding: rem(8) 0;
        }

        &-list {
            display: flex;
            flex-wrap: wrap;
            padding-top: rem(20);

            & + & {
                padding-bottom: rem(20);
            }

            li {
                flex-basis: 49%;
                text-align: center;
                padding-bottom: rem(10);

                &:nth-child(odd) {
                    margin-right: 2%;
                }
            }

            li a {
                display: block;
                background-color: var(--color-white);
                font-size: rem(14);
                font-family: $mainFont;
                font-weight: bold;
                padding: rem(15) 0;
                border-radius: 6px;
                box-shadow: 1px 1px 2px (0,0,0,0,16);
            }
        }
    }



}
