.p-priceTable {
  &__inner {
    background-color: var(--color-main);
  }

  &__list {
    padding: rem(20);

    @include mq('pc') {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__listItem {
    padding-bottom: rem(10);

    @include mq('pc') {
      width: 50%;
    }

    a {
      display: block;
      background-color: var(--color-white);
      padding: rem(10) rem(18);
      border-radius: 6px;
      font-family: $mainFont;
      font-weight: bold;
      display: flex;
      justify-content: space-between;
      font-size: rem(13);
      box-shadow: 3px 6px 10px -7px #b5b5b5;

      @include mq('pc') {
        margin-left: rem(4);
        margin-right: rem(4);
        font-size: rem(20);
      }

      &:hover {
        transform: translateY(2px);
        transition: 0.3s ease;
        box-shadow: none;
      }
    }

    span {
      display: block;
    }

    small {
      font-size: .75em;
    }
  }
}

.p-priceTable__listLeft[data-style="multipleLines"] {

  line-height: 16px;
  @include mq('pc') {
    line-height: 20px;
  }
}