.p-reasons {
  overflow: hidden;
  &__card {
    background-color: var(--color-white);
    border-radius: rem(16);
    margin-bottom: rem(20);
    padding: rem(48) rem(30) rem(48) rem(55);
    position: relative;
    left: -20px;
  }

  &__cardTitle {
    font-family: $mainFont;
    font-size: rem(18);

    span {
      position: relative;
      display: inline-block;
      width: 30px;
      text-align: center;
      z-index: 0;
      margin-right: rem(16);
      color: var(--color-white);

      &:before {
        width: 30px;
        height: 30px;
        background-color: #C3B173;
        position: absolute;
        content: '';
        z-index: -1;
        left: 0;
        transform: rotate(45deg);
      }
    }
  }

  &__cardSentence {
    padding-top: rem(32);
    font-size: rem(14);

  }
}