.p-recommend {

  &__lead {
    text-align: center;
    font-family: $mainFont;
    color: #41A5A0;
  }

  &__sentence {
    text-align: center;
    padding-top: rem(40);
    color: #2B2B2B;
    font-family: $mainFont;
    font-size: rem(14);
    font-weight: bold;
  }
}