.p-reasons {
  overflow: hidden;

  &__wrap {
    @include mq('pc') {
      display: flex;
      justify-content: space-between;
      padding-bottom: rem(152);
    }
  }
  &__card {
    background-color: var(--color-white);
    border-radius: rem(16);
    margin-bottom: rem(20);
    padding: rem(48) rem(30) rem(48) rem(55);
    position: relative;
    left: -20px;

    @include mq('pc') {
      width: 320px;
      left: 0;
      padding: rem(52) rem(32);
    }
  }

  &__cardTitle {
    font-family: $mainFont;
    font-size: rem(18);
    @include mq('pc') {
      text-align: center;
    }

    span {
      position: relative;
      display: inline-block;
      width: 30px;
      text-align: center;
      z-index: 0;
      margin-right: rem(16);
      color: var(--color-white);

      @include mq('pc') {
        display: block;
        margin: 0 auto;
        padding-bottom: rem(20);
      }

      &:before {
        width: 30px;
        height: 30px;
        background-color: #C3B173;
        position: absolute;
        content: '';
        z-index: -1;
        left: 0;
        transform: rotate(45deg);
      }
    }
  }

  &__cardSentence {
    padding-top: rem(32);
    font-size: rem(14);

    @include mq('pc') {
      font-size: rem(16);
    }

  }
}