.p-reservationFlow {

  &__box {
    background-color: var(--color-white);
  }

  &__title {
    text-align: center;
    font-family: $mainFont;
    padding-top: rem(40);

    @include mq('pc') {
      padding-top: rem(56);
    }
  }

  &__steps {
    padding: rem(40) rem(20) 0;

    @include mq('pc') {
      padding: rem(60) rem(60) 0;
    }

    &:last-of-type {
      padding: rem(40) rem(20);

      @include mq('pc') {
        padding: rem(60) rem(60);
      }
    }

  }

  &__lead {
    padding-bottom: rem(8);
    margin-bottom: rem(20);
    border-bottom: 1px solid #707070;

    span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 38px;
      height: 38px;
      background-color:#F8E1B4;
      border-radius: 5000px;
      text-align: center;
      line-height: 38px;
      margin-right: rem(12);
    }
  }

  &__img {
    width: 60%;
    margin: 0 auto;

    img {
      @include mq('pc') {
        width: 350px;
      }
    }

    @include mq('pc') {
      width: auto;
    }
  }

  &__notes {
    padding: rem(40) rem(20);

    @include mq('pc') {
      padding: rem(40) rem(60) rem(60);
    }
    
  }
  &__notesInner {
    border: 1px solid #E2E2E2;
    padding: rem(14) rem(14) rem(60);

    @include mq('pc') {
      padding: rem(16) rem(16) rem(36);
    }

  }
  &__notesTitle {
    font-size: rem(14);
    border-bottom: 1px solid #E2E2E2;
    padding-bottom: rem(4);
    margin-bottom: rem(16);

    @include mq('pc') {
      font-size: rem(16);
    }

    &:last-of-type {
      padding-top: rem(24);
    }
  }

  &__notesList {
    font-size: rem(12);
    list-style-type: square;

    @include mq('pc') {
      font-size: rem(14);
    }

    li {
      margin-left: rem(16);
      padding-bottom: rem(4);

    }
  }

  &__centerText {
    text-align: center;
    padding: rem(38) 0 rem(54);
  }

  &__tag {
    text-align: center;
    margin: 0 auto;
    position: relative;
    top: -16px;

    span {
      padding: rem(8) rem(12);
      background-color: #FFD696;
      width: 225px;
      font-size: rem(18);
      font-family: $mainFont;
      display: inline-block;
    }
  }

  &__afterTreatmentBox {
    padding-bottom: rem(16);
  }
  &__afterTreatmentLead {
    padding-bottom: rem(4);
    font-weight: bold;
  }
}

.p-reservationFlow[data-style="onTheDay"] {
  padding-top: rem(44);
}
.p-reservationFlow__tag[data-style="onTheDay"] span {
  background-color: #3EA49F;
  color: var(--color-white);
}
.p-reservationFlow__lead[data-style="onTheDay"] span {
  background-color: #3EA49F;
  color: var(--color-white);
}

.p-reservationFlow[data-style="afterTreatment"] {
  padding-top: rem(44);
}

.p-reservationFlow__tag[data-style="afterTreatment"] span{
  background-color: #D3D3D3;
  color: var(--color-text);
}

.p-reservationFlow__tag[data-style="long"] span {
  width: 270px;
}