.p-reasonsLower {
  &__body {
    padding-top: rem(36);
  }
  &__wrap {
    padding-top: rem(36);

  }

  &__lead {
    background-color: #EDF8F8;
    padding: rem(7) 0 rem(7) rem(20);
    font-size: rem(16);
    font-weight: normal;
  }
 
  &__sentence {
    padding: rem(12) rem(20) 0 rem(20);
  }

  &__pointWrap {
    border: 1px solid #707070;
    margin-top: rem(32);
    padding: rem(16);
  }

  &__pointPoint {
    padding-bottom: rem(16);

    span {
      display: inline-block;
      padding: rem(4) rem(12);
      background-color: #F3E73D;
    }
  }

}