.l-mv {
    padding-top: rem(83);

    @include mq('pc') {
        padding-top: rem(35);
        padding-bottom: rem(35);
        background: rgb(237,248,248);
        background: linear-gradient(21deg, rgba(237,248,248,1) 0%, rgba(165,221,219,1) 100%);
    }
}