.l-reservationFlow {
  padding: rem(52) 0;

  @include mq('pc') {
    padding: rem(80) 0;
  }
}

.l-reservationFlow__lower {
  padding-bottom: rem(32);

  @include mq('pc') {
    padding-bottom: rem(64);
  }
}