.l-spacer {
  &__headingTop {
    padding-top: rem(40);

    @include mq('pc') {
      padding-top: rem(80);
    }
  }

  &__headingDiagnosis {
    padding-top: rem(80);

    @include mq('pc') {
      padding-top: rem(120);
    }
  }

  &__sectionBottom {
    padding-bottom: rem(40);

    @include mq('pc') {
      padding-bottom: rem(80);
    }
  }

}