.js-content {
  // opacity: 0;
  // width: 0;
  // height: 0;
  // overflow: hidden;
  display: none;
  // transition: 0.4s ease;
  
  &.on {
    display: block;
    // transition: 0.4s ease;
  }
}

.js-humberger {
  &.is-open span{

    &:nth-of-type(1) {
      top: 15px;
      left: 11px;
      transform: translateY(6px) rotate(-45deg);
      width: 50%;
    }
    &:nth-of-type(2) {
      opacity: 0;/*真ん中の線は透過*/
    }
    &:nth-of-type(3) {
      top: 27px;
      left: 11px;
      transform: translateY(-6px) rotate(45deg);
      width: 50%;
    }
  }
}

#js-nav {
  transform: translateY(-130%);
  transition: 0.3s ease;
}
#js-nav.is-open {
  transform: translateY(0%);
  transition: 0.3s ease;
}

.swiper-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  position: relative;
  padding-top: rem(38);
}
.swiper {
  max-width: 500px;
}
.swiper-slide img {
  height: auto;
  width: 100%;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: -20px!important;
}

.c-case .swiper-button-next {

  right: -18px;

  @include mq('pc') {
    right: -25px;
  }
}

.c-case .swiper-button-prev {

  left: -18px;

  @include mq('pc') {
    left: -25px;
  }
}

:root {
  --swiper-navigation-size: 24px!important;
}

.c-case .swiper-container {
  max-width: 360px;
}