.js-content {
  display: none;
  
  &.on {
    display: block;
  }
}

.js-humberger {
  &.is-open span{

    &:nth-of-type(1) {
      top: 15px;
      left: 11px;
      transform: translateY(6px) rotate(-45deg);
      width: 50%;
    }
    &:nth-of-type(2) {
      opacity: 0;/*真ん中の線は透過*/
    }
    &:nth-of-type(3) {
      top: 27px;
      left: 11px;
      transform: translateY(-6px) rotate(45deg);
      width: 50%;
    }
  }
}